<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <csp>
            <mode>
                <storefront>
                    <report_uri>https://server.visionvivante.com:8080/truck3/</report_uri>
                </storefront>
                <admin>
                    <report_uri>https://server.visionvivante.com:8080/truck3/</report_uri>
                </admin>
            </mode>
            <policies>
                <storefront>
                    <frame-ancestors>
                        <policy_id>frame-ancestors</policy_id>
                        <self>1</self>
                        <inline>0</inline>
                        <eval>0</eval>
                        <dynamic>0</dynamic>
                    </frame-ancestors>
                </storefront>
            </policies>
        </csp>
    </default>
</config>