<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magepow" translate="label" sortOrder="1000">
            <label>Magepow</label>
        </tab>
        <section id="magepow_ajaxwishlist" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Ajax Wishlist</label>
            <tab>magepow</tab>
            <resource>Magepow_AjaxWishlist::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Options</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <comment>Turn on to enable AjaxWishlist.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_spinner" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show loader</label>
                    <comment>Turn on to enable showing spinner while processing the request.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="show_success_message" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Show Success Message</label>
                    <comment>Turn on to show success message after adding to wishlist.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="message" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Success Message Text</label>
                    <comment>Change the message that appears after adding to wishlist.</comment>
                </field>
                 <field id="popupttl" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1"
                       showInStore="1" canRestore="1">
                    <label>Popup Will Close After</label>
                    <validate>validate-digits validate-digits-range digits-range-0-</validate>
                </field>
                <field id="image" translate="label comment" type="image" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" >
                    <label>Image Login popup</label>
                    <backend_model>Magepow\AjaxWishlist\Model\Config\Backend\Image</backend_model>
                      <base_url type="media" scope_info="1">magepow/backendimage</base_url>
                </field>
            </group>
        </section>
    </system>
</config>