{% extends 'error.twig' %}

{% block message %}
    <div class="error-message-block">
        <h2>Error :(</h2>
        <span>Sorry, but you didn't add backurl in your catalogs settings.</span>
        <div>
            <a data-toggle-class="#more" class="btn" href="javascript:void(0)">Show more</a>
        </div>
        <div id="more" class="hidden">
            Oops, your settings are wrong. If you see this page first time, please try to do next steps:
            <ul>
                <li><span>Step1: </span>some step text</li>
                <li><span>Step2: </span>some step text</li>
                <li><span>Step3: </span>some step text</li>
                <li><span>Step4: </span>some step text</li>
            </ul>
        </div>
    </div>
{% endblock %}