<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\FrontControllerInterface">
        <plugin name="switcher-app-action-dispatchController-context-plugin" type="Zemez\LayoutSwitcher\Model\App\Action\ContextPlugin"/>
    </type>
    <type name="Zemez\ThemeOptions\Helper\Data">
        <plugin name="get-color-scheme-plugin" type="Zemez\LayoutSwitcher\Plugin\ThemeOptions\Helper\DataPlugin"/>
    </type>
</config>
