<div class="belvg-popup belvg-popup__theme2 belvg-popup__step1">
    <link rel="stylesheet" type="text/css" href="{{media url=promopopup/css/styles.css}}">
    <link rel="stylesheet" type="text/css" href="{{media url=promopopup/css/universal.css}}">
    <div class="belvg-popup__image">
            <img src="{{media url=promopopup/images/universal/popup/2.png}}" alt="" />
        </div>
        <div class="belvg-popup__content">
            <div class="belvg-popup__title">Let's start shopping!</div>
            <div class="belvg-popup__note">Get a promo code: <code>GYFFVSH</code> for every purchase</div>
        </div>
</div>
