<div class="belvg-popup belvg-popup__theme3 belvg-popup__step1">
    <link rel="stylesheet" type="text/css" href="{{media url=promopopup/css/styles.css}}">
    <link rel="stylesheet" type="text/css" href="{{media url=promopopup/css/valentines-day.css}}">
    <div class="belvg-popup__image">
        <img src="{{media url=promopopup/images/valentines-day/popup/3.png}}" alt="" />
    </div>
    <div class="belvg-popup__content">
        <div class="belvg-popup__title">Ready For</div>
        <div class="belvg-popup__subtitle">St. Valentine's Day?</div>
        <div class="belvg-popup__note">Get a sweet promo code on your email!</div>
        <form class="form" id="cpp-form">
            <div class="belvg-popup__input">
                <input type="email" value="" placeholder="Your Email" />
            </div>
            <div  class="belvg-popup__actions">
                <button type="submit" class="action primary"><span>Get a Promo Code</span></button>
            </div>
        </form>
    </div>
</div>
