<div class="belvg-popup belvg-popup__theme2">
    <link rel="stylesheet" type="text/css" href="{{media url=promopopup/css/styles.css}}">
    <link rel="stylesheet" type="text/css" href="{{media url=promopopup/css/covid-19.css}}">
    <div class="belvg-popup__image">
        <img src="{{media url=promopopup/images/covid-19/popup/gasmask.png}}" alt="" />
    </div>
    <div class="belvg-popup__content">
        <div class="belvg-popup__title">COVID-19 Information</div>
        <div class="belvg-popup__note">
            <p><b>Order Contact-Free Delivery</b><br/>We take extra precautions to help stop the spread of disease.</p>
            <p>All in-person March meetings have been postponed.</p>
            <p><b>Free Delivery in Quarantine Area</b><br/>Stay Home & Stay Safe</p>
            <p><b>Quarantine's Special!</b><br/>Save 20%<br/>+ FREE Hand Sanitizer</p>
        </div>
        <div  class="belvg-popup__actions">
            <a href="{{store url='covid-19'}}" class="action primary"><span>Read More</span></a>
        </div>
    </div>
</div>
