<div class="belvg-popup belvg-popup__theme1 belvg-popup__step3">
    <link rel="stylesheet" type="text/css" href="{{media url=promopopup/css/styles.css}}">
    <link rel="stylesheet" type="text/css" href="{{media url=promopopup/css/cyber-monday.css}}">
    <div class="belvg-popup__image">
            <img src="{{media url=promopopup/images/cyber-monday/popup/cyber-monday-4.png}}" alt="" />
        </div>
        <div class="belvg-popup__content">
            <div class="belvg-popup__title">Let's start the Cyber Monday sales!</div>
            <div class="belvg-popup__note">Use promo code: <code>GYFFVSH</code> for every purchase</div>
        </div>
</div>
