<div class="belvg-popup belvg-popup__theme3 belvg-popup__step1">
    <link rel="stylesheet" type="text/css" href="{{media url=promopopup/css/styles.css}}">
    <link rel="stylesheet" type="text/css" href="{{media url=promopopup/css/womens-day.css}}">
    <div class="belvg-popup__image">
            <img src="{{media url=promopopup/images/womens-day/popup/3.png}}" alt="" />
        </div>
        <div class="belvg-popup__content">
            <div class="belvg-popup__title">Let's celebrate</div>
            <div class="belvg-popup__subtitle">Women's Day!</div>
            <div class="belvg-popup__note">Use promo code: <code>GYFFVSH</code> for every purchase</div>
        </div>
</div>
