<div class="belvg-popup belvg-popup__theme1 belvg-popup__step1">
    <link rel="stylesheet" type="text/css" href="{{media url=promopopup/css/styles.css}}">
    <link rel="stylesheet" type="text/css" href="{{media url=promopopup/css/black-friday.css}}">
    <div class="belvg-popup__image">
        <img src="{{media url=promopopup/images/black-friday/popup/black-friday-6.png}}" alt="" />
    </div>
    <div class="belvg-popup__content">
        <div class="belvg-popup__title">Ready for Black Friday?</div>
        <div class="belvg-popup__note">Get a dark promo code on your email!</div>
        <form class="form" id="cpp-form">
            <div class="belvg-popup__input">
                <input type="email" value="" placeholder="Your Email" />
            </div>
            <div  class="belvg-popup__actions">
                <button type="submit" class="action primary"><span>Subscribe</span></button>
            </div>
        </form>
    </div>
</div>
