<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Theme\Block\Html\Topmenu" type="Zemez\Megamenu\Block\Html\Topmenu" />
    <preference for="Magento\Catalog\Plugin\Block\Topmenu" type="Zemez\Megamenu\Plugin\Block\Topmenu" />
    <type name="Zemez\Megamenu\Controller\Adminhtml\Category\Image\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Magento\Catalog\CategoryImageUpload</argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Category\DataProvider">
        <plugin name="addMmImage" type="Zemez\Megamenu\Model\Plugin\Category\DataProvider" />
    </type>
</config>